.filtermodal{

    padding: 70px 70px 100px;
    gap: 126px;
    position: absolute;
    width: 484px;
    height: 887px;
    background: #322E59;
    border-radius: 60px;

    //filter-top
    &-top{
        h1{
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: #BCBACF;
            font-family: 'Merriweather', serif;
        }
        .ico-close{
            position: absolute;
            width: 44px;
            height: 44px;
            right: 25px;
            top: 80px;
            color: #BCBACF;
        }
    }
    //filtermodal-search
    &-search{
        h2{
            text-transform: uppercase;
            color: #BCBACF;
            margin-top: 40px;
            font-family: 'Mulish', sans-serif;

        }



    }
    //filtermodal-jobContainer
    &-jobContainer{
        margin-top: 8px;
        padding: 16px;
        gap: 16px;
        width: 344px;
        height: 68px;
        background: #232044;
        border-radius: 8px;

        .ico-magnif{
            color: #BCBACF;
            padding: 3px 16px 0px 0px;
        }

        input{
            background: transparent;
            border: 0;
            outline: none;
        }
        .search-input{
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: #BCBACF;
        }

    }
    //filtermodal-view
    &-view{
        display: flex;
        flex-direction: column;
        align-items: flex-start;


        ul{
            li{

                font-family: 'Mulish';
                color: #BCBACF;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 12px;


                .checkbox-round{
                    margin-right: 8px;
                    width: 38px;
                    height: 38px;
                    background-color: #232044;
                    border-radius: 50%;
                    vertical-align: middle;
                    border: 1px solid #ddd;
                    appearance: none;
                    -webkit-appearance: none;
                    outline: none;
                    cursor: pointer;
        
        
                }
                .checkbox-round:checked {
                    background-color: gray;
        
                }
            }
        }

        h3{
            text-transform: uppercase;
            margin-top: 40px;
            color: #BCBACF;
            margin-bottom: 16px;
        }

    }
    //filtermodal-include
    &-include{

        h3{
            padding: 40px 0px 16px 0px;
            text-transform: uppercase;
            color: #BCBACF;
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }

        .checkbox-include{
            width: 34px;
            height: 34px;

        }

        span{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 16px;
            width: 224px;
            height: 38px;

            label{
                font-family: 'Mulish';
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: #BCBACF;

            }


        }

    }
    //filtermodal-bottom
    &-bottom{
        .save-button{
            margin-top: 90px;
            padding: 10px;
            width: 344px;
            height: 40px;
            background: #FFBB56;
            border-radius: 8px;
            font-size: 18px;
            line-height: 23px;
            font-family: 'Mulish';
            color: black;
            font-weight: 600;
        }
    }
}